{#<a href="{% url 'home' 'ae' %}">ae</a>#}
{#<a href="{% url 'home' 'ar' %}">ar</a>#}
{#<a href="{% url 'home' 'at' %}">at</a>#}
{#<a href="{% url 'home' 'au' %}">au</a>#}
{#<a href="{% url 'home' 'be' %}">be</a>#}
{#<a href="{% url 'home' 'bg' %}">bg</a>#}
{#<a href="{% url 'home' 'br' %}">br</a>#}
{#<a href="{% url 'home' 'ca' %}">ca</a>#}
{#<a href="{% url 'home' 'ch' %}">ch</a>#}
{#<a href="{% url 'home' 'cn' %}">cn</a>#}
{#<a href="{% url 'home' 'co' %}">co</a>#}
{#<a href="{% url 'home' 'cu' %}">cu</a>#}
{#<a href="{% url 'home' 'cz' %}">cz</a>#}
{#<a href="{% url 'home' 'de' %}">de</a>#}
{#<a href="{% url 'home' 'eg' %}">eg</a>#}
{#<a href="{% url 'home' 'fr' %}">fr</a>#}
{#<a href="{% url 'home' 'gb' %}">gb</a>#}
{#<a href="{% url 'home' 'gr' %}">gr</a>#}
{#<a href="{% url 'home' 'hk' %}">hk</a>#}
{#<a href="{% url 'home' 'hu' %}">hu</a>#}
{#<a href="{% url 'home' 'id' %}">id</a>#}
{#<a href="{% url 'home' 'ie' %}">ie</a>#}
{#<a href="{% url 'home' 'il' %}">il</a>#}
{#<a href="{% url 'home' 'in' %}">in</a>#}
{#<a href="{% url 'home' 'it' %}">it</a>#}
{#<a href="{% url 'home' 'jp' %}">jp</a>#}
{#<a href="{% url 'home' 'kr' %}">kr</a>#}
{#<a href="{% url 'home' 'lt' %}">lt</a>#}
{#<a href="{% url 'home' 'lv' %}">lv</a>#}
{#<a href="{% url 'home' 'ma' %}">ma</a>#}
{#<a href="{% url 'home' 'mx' %}">mx</a>#}
{#<a href="{% url 'home' 'my' %}">my</a>#}
{#<a href="{% url 'home' 'ng' %}">ng</a>#}
{#<a href="{% url 'home' 'nl' %}">nl</a>#}
{#<a href="{% url 'home' 'no' %}">no</a>#}
{#<a href="{% url 'home' 'nz' %}">nz</a>#}
{#<a href="{% url 'home' 'ph' %}">ph</a>#}
{#<a href="{% url 'home' 'pl' %}">pl</a>#}
{#<a href="{% url 'home' 'pt' %}">pt</a>#}
{#<a href="{% url 'home' 'ro' %}">ro</a>#}
{#<a href="{% url 'home' 'rs' %}">rs</a>#}
{#<a href="{% url 'home' 'ru' %}">ru</a>#}
{#<a href="{% url 'home' 'sa' %}">sa</a>#}
{#<a href="{% url 'home' 'se' %}">se</a>#}
{#<a href="{% url 'home' 'sg' %}">sg</a>#}
{#<a href="{% url 'home' 'si' %}">si</a>#}
{#<a href="{% url 'home' 'sk' %}">sk</a>#}
{#<a href="{% url 'home' 'th' %}">th</a>#}
{#<a href="{% url 'home' 'tr' %}">tr</a>#}
{#<a href="{% url 'home' 'tw' %}">tw</a>#}
{#<a href="{% url 'home' 'ua' %}">ua</a>#}
{#<a href="{% url 'home' 'us' %}">us</a>#}
{#<a href="{% url 'home' 've' %}">ve</a>#}
{#<a href="{% url 'home' 'za' %}">za</a>#}
